/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*GENERAL*/
body {
	font-family: Arial, sans-serif;
	font-size: 1em;
}

/*Mendeleev_table*/
.mendeleev-table {
	border: 1px solid black;
	table-layout: fixed;
	width: 100vw;
}
.mendeleev-table td {
	background-color: yellow;
	padding: 0.5em;
	border: 1px solid black;
}
.mendeleev-table h2 {
	font-size: 3em;
}
.mendeleev-table .number {
	font-size: 2em;
}
.mendeleev-table h3 {
	font-size: 0.8em;
}
.mass {
	font-size: 0.7em;
}
.mendeleev-table span {
vertical-align: top;
}
.mendeleev-table .gallium-style {
	background-color: orange;
}
.mendeleev-table .germanium-style {
	background-color: green;
}
.mendeleev-table .selenium-style {
	background-color: purple;
}
.mendeleev-table .bromine-style {
	background-color: pink;
}
.mendeleev-table .krypton-style {
	background-color: blue;
}